<div  class="card">
    <h6 class="reset-head">أضف عملة جديدة</h6>
    <div class="l1 d-flex">
        <input dir="rtl" class="form-input input1" type="text" placeholder="اسم العملة">
        <div class="form-check form-check-inline px-5 mt-2">
            <input class="form-check-input checkbox" type="checkbox" id="inlineCheckbox3" value="option3" >
            <label class="form-check-label text-muted" for="inlineCheckbox3">نشط</label>
          </div> 
    </div>
    <div class="row">
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder="اسم العملة بالانجليزي">  
        </div>
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder="الاسم المختصر عربي">  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder="الاسم المختصر انكليزي ">  
        </div>
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder=" الاسم الكسر عربي">  
        </div>
    </div>
    <input dir="rtl" class="form-input" type="text" placeholder="الاسم الكسر انكليزي">
    <textarea dir="rtl" class="note" id=""placeholder="الملاحظات"></textarea>
    <input dir="rtl" class="form-input" type="text" placeholder="معدل التحويل">
    <div dir="rtl" class="buttomm">
        <button type="button" class="btn btn-secondary btn2" >إلغاء</button>
        <button type="button" class="btn btn-primary btn1" >إضافة</button>
    </div>
</div>

