<h4 class="main-title">جدول مواعيد مع جميع المستأجرين</h4>
<div class="layer"></div>
<div class="table">
    <section class="table-header d-flex">
        <div class="d-flex head1">
        <h4>شاهد</h4><div class="view"><p>10</p></div><h4>مدخالاات</h4>
        </div>
        <div class="d-flex head2">
        <input class="form-control input-me" type="text" placeholder="اكتب هنا ما تبحث عنه" aria-label="default input example">
        <button type="button " class="btn btn-primary btn-me">Primary</button></div>
    </section>
    <section class="table-body">
        <table>
            <thead>
                <tr>
                    <th>اسم التسجيل</th>
                    <th>العنوان</th>
                    <th>الخط الساخن</th>
                    <th>الحالة</th>
                    <th>الاجراءات</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td><p  class="statuse ">غير نشط</p></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td><p  class="statuse ">غير نشط</p></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td><p  class="statuse ">غير نشط</p></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
                <tr>
                    <td><img src="../../../assets/images/imggg.jpg">احمد محمود محمود</td>
                    <td></td>
                    <td></td>
                    <td ><P class="statuse online">نشط</P></td>
                    <td><i class="fas fa-ellipsis-v"></i></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
