<div class="input1 mt-5">
    <div class="container">
        <h2 class="mb-5"> تحديث عملة </h2>
        <div class="all-one">
            <div class="mt-3 check ">
                <input  type="checkbox" name="m">
            </div>
            <div class="input-group first me-auto   mt-3 ">
          
                <input type="text" class="form-control " placeholder="اسم العملة  " aria-label="Username"
                    aria-describedby="basic-addon1">
            
            </div>
        </div>
       
    
    <div class="row">
        <div class="input-group w-50 mt-3">
      
            <input type="text" class="form-control" placeholder="الاسم المختصر بالعربي" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        <div class="input-group w-50  mt-3">
          
            <input type="text" class="form-control" placeholder="الاسم المختصر بالانجليزي" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        <div class="input-group w-50  mt-3">
          
            <input type="text" class="form-control" placeholder="الاسم الكسر بالعربي" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        <div class="input-group w-50  mt-3">
          
            <input type="text" class="form-control" placeholder="اسم العملة بالانجليزي " aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
       
        <div class="input-group w-100 mt-3">
      
            <input type="text" class="form-control" placeholder="اسم الكسر بالانجليزي" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        
    </div>
    <div class="input-group w-100  mt-3">
          
        <input type="text" class="form-control py-5" placeholder="الملاحظات" aria-label="Username"
        aria-describedby="basic-addon1">
   
    </div>
    <div class="input-group w-100 mt-3">
      
        <input type="text" class="form-control" placeholder="معدل التحويل  " aria-label="Username"
            aria-describedby="basic-addon1">
    
    </div>
      </div>
   <div class="btns">
    <button class="btn1 m-3">الغاء </button>
    <button class="btn2 m-3">اضافة </button>
   </div>
  </div>





