img{
    width: 600px;
    height: 400px;
    margin: auto;
  
    
}
h4{
    margin-left: 150px;
}

@media screen and (min-width:500px) and (max-width:900px) {
    img{
        width: 200px;
        height: 200px;
        margin: auto;
      
        
    }
    h4{
        margin-left: 10px;
        font-size: medium;
    }
}