<div class="main mt-5"><h3 class="title">إضافة تكلفة جديدة</h3>
    <div class="d-flex">
    <input class="form-control input-box " type="text" placeholder="الاسم المخصر" aria-label="default input example">
<div class="form-check test" style="direction: ltr;">
    <input class="form-check-input  chick-m " type="checkbox" value="" id="flexCheckDefault">
   
    <label class="form-check-label  label-m" for="flexCheckDefault">
      هي الجماعي
    </label>

</div>
<div class="form-check test" style="direction: ltr;">
    <input class="form-check-input  chick-m " type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label label-m" for="flexCheckDefault">
      مفصلة
    </label>

</div>

    </div>
    <input class="form-control input-box2" type="text" placeholder="اسم مركز التكلفة " aria-label="default input example">
    <input class="form-control input-box2" type="text" placeholder="اسم مركز التكلفة باللغة الانكليزية" aria-label="default input example">
    <div class="d-flex">
        <input class="form-control input-box " type="text" placeholder="تاريخ فتح الحساب " aria-label="default input example">
        <input class="form-control input-box " type="text" placeholder="حدود الإئتمان" aria-label="default input example">
    </div>
    <div class="d-flex">
        <input class="form-control input-box low-width" type="text" placeholder="الرصيد الحالي" aria-label="default input example">
        <input class="form-control input-box low-width" type="text" placeholder="تاريخ الرصيد الحالي" aria-label="default input example">
    <div class="form-check test" style="direction: ltr;">
        <input class="form-check-input  chick-m " type="checkbox" value="" id="flexCheckDefault">
       
        <label class="form-check-label  label-m" for="flexCheckDefault">
          مدين
        </label>
    
    </div>
    <div class="form-check test" style="direction: ltr;">
        <input class="form-check-input  chick-m " type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label  label-m" for="flexCheckDefault">
          دائن
        </label>
    
    </div>
    
        </div>
        <input class="form-control input-box2" type="text" placeholder="الميزانية التقديرية" aria-label="default input example">
        <input class="form-control input-box2" type="text" placeholder="الميزانية التقديرية" aria-label="default input example">
        <textarea class="form-control input-box2 note" id="exampleFormControlTextarea1" placeholder="الملاحظات" rows="3"></textarea>
        <input class="form-control input-box2" type="text" placeholder="بريد الكتروني" aria-label="default input example">
        <input class="form-control input-box2" type="text" placeholder="سجل ضريبة القيمة المضافة" aria-label="default input example">
        <div class="d-flex all-btn">
            <button type="button" class="btn btn-primary btn-me1">إلغاء</button>
            <button type="button" class="btn btn-primary btn-me2">اضافه</button>
        </div>
</div>
