<div class="gray"></div>
<div dir="rtl" class="card">
    <div class="row">
        <div class="col-md-6">
            <div class="username">
                <label class="labl">اسم الشركة</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب هنا اسم الشركة">
            </div> 
        </div>
        <div class="col-md-6">
            <div class="username">
                <label class="labl">الفاكس</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب الفاكس">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="username">
                <label class="labl">الخط الساخن</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب الخط الساخن">
            </div> 
        </div>
        <div class="col-md-6">
            <div class="username">
                <label class="labl">إيميل العمل</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب إيميل العمل">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="username">
                <label class="labl">الموقع الالكتروني</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب الموقع الالكتروني">
            </div> 
        </div>
        <div class="col-md-6">
            <div class="username">
                <label class="labl">رقم الهاتف</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب رقم الهاتف الرسمي">
            </div>
        </div>
    </div>

    <div class="username  mt-3">
        <label class="labl"> العنوان</label>
        
        <input class="form-input" type="text"  name="username" required  placeholder="اكتب العنوان">
    </div>
    <div class="username mb-3">
        <label class="labl">الوصف </label>
        
        <textarea class="textdesc" name="" id="" placeholder="اكتب الوصف"></textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="username">
                <label class="labl">اسم جهة الاتصال</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب اكتب اسم جهة الاتصال">
            </div> 
        </div>
        <div class="col-md-6">
            <div class="username">
                <label class="labl">اسم التسجيل</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب اسم التسجيل">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="username">
                <label class="labl">المنطقة الزمنية</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب المنطقة الزمنية">
            </div> 
        </div>
        <div class="col-md-6">
            <div class="username">
                <label class="labl">اللغة</label>
                
                <input class="form-input1" type="text"  name="username" required  placeholder="اكتب اللغة">
            </div>
        </div>
    </div>
     <div class="buttomm mt-4">
        <button type="button" class="btn btn-primary btn1" >إنشاء حساب  </button>
    </div>
    <div dir="rtl" class="d-flex txtt">
                    <p class="fs-6 mb-1 fw-medium tex">هل لديك حساب؟ </p>
                    <a class="af text-primary fw-medium ms-2" href="login1.html">
                        تسجيل الدخول </a>
    </div>
</div>
<div class="top">
   
    <select dir="rtl" class="form-select" aria-label="Default select example">
        <option selected>EN</option>
        <option value="1">AR</option>

      
      </select>
      <i class="fa-solid fa-sun fs-6 mx-1"></i></div>