<div  class="card">
    <h6 class="reset-head">إضافة مشروع جديد</h6>
    <input dir="rtl" class="form-input" type="text" placeholder="الاسم المختصر">
    <input dir="rtl" class="form-input" type="text" placeholder="الاسم المشروع ">
    <input dir="rtl" class="form-input" type="text" placeholder="الاسم المشروع انكليزي">
    <div class="row">
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder="  تاريخ منح الحساب ">  
        </div>
        <div class="col-md-6">
            <input dir="rtl" class="form-input w-100" type="text" placeholder=" حدود الائتمان ">  
        </div>
    </div>
    <div dir="rtl" class="l1 d-flex">
        <input dir="rtl" class="form-input input1" type="text" placeholder="الرصيد الحالي">
        <input dir="rtl" class="form-input input1 " type="text" placeholder="تاريخ الرصيد الحالي">
        <div class="form-check form-check-inline cheecke">
            <label class="form-check-label text-muted  labl" for="inlineCheckbox3">مدين</label>
            <input class="form-check-input checkbox " type="checkbox" id="inlineCheckbox3" value="option3" >
           
          </div> 
          <div class="form-check form-check-inline  cheecke1">
            <label class="form-check-label text-muted   labl" for="inlineCheckbox3">دائن</label>
            <input class="form-check-input checkbox" type="checkbox" id="inlineCheckbox3" value="option3" >
           
          </div> 
      
        
    </div>
    <div dir="rtl" class="l1 d-flex">
        <input dir="rtl" class="form-input input2" type="text" placeholder="الميزانية التقديرية">
        <div class="form-check form-check-inline cheecke ">
            <label class="form-check-label text-muted  labl" for="inlineCheckbox3">هي الجماعي</label>
            <input class="form-check-input checkbox" type="checkbox" id="inlineCheckbox3" value="option3" >
           
          </div> 
          <div class="form-check form-check-inline cheecke1">
            <label class="form-check-label text-muted labl" for="inlineCheckbox3">مفضلة</label>
            <input class="form-check-input checkbox" type="checkbox" id="inlineCheckbox3" value="option3" >
           
          </div>
    </div>
       

    <textarea dir="rtl" class="note" id=""placeholder="الملاحظات"></textarea>
    <input dir="rtl" class="form-input" type="text" placeholder="الإيميل ">
    <div dir="rtl" class="buttomm">
        <button type="button" class="btn btn-secondary btn2" >إلغاء</button>
        <button type="button" class="btn btn-primary btn1" >إضافة</button>
    </div>
</div>


