
<div class="right">
    <div class="language-selector  ">
      <select>
          <option value="en">EN</option>
          <option value="ar">AR</option>
          <!-- Add more languages as needed -->
      </select>
      
    </div>
    <img src="https://img.icons8.com/ios-filled/50/000000/gear.png" alt="Settings" class="selector-img ms-2">
    
    
  </div>
  
  
  <div class="card card-custom1 m-auto mt-5">
  
      <div class="login-info1 pt-2 pe-2">شركة محمد احمد</div>
    </div>
  
  
  
  
  <div class="card card-custom p-3 d-flex flex-row align-items-center">
    <img src="../../../assets/images/imggg.jpg" alt="User Image" class="profile-pic mr-3">
    <div class="flex-grow-1">
      <div class="user-email">user12@gmail.com</div>
      <div class="login-info ">تم التسجيل في: 12/7/2024</div>
    </div>
  </div>
  
