
<div class="input1">
    <div class="container">
        <h3 class="mb-5">تعديل معلومات المستخدم </h3>
      
       
    
 
      
       
        <div class="input-group w-100 mt-3">
      
            <input type="text" class="form-control" placeholder="اسم المستخدم" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        <div class="input-group w-100 mt-3">
      
            <input type="text" class="form-control" placeholder="الايميل" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        <div class="input-group w-100 mt-3">
      
            <input type="text" class="form-control" placeholder="رقم الهاتف" aria-label="Username"
                aria-describedby="basic-addon1">
        
        </div>
        
    
        <div class="btns">
            <button class="btn1 my-3 mx-1">الغاء </button>
            <button class="btn2 my-3 mx-1">حفظ التغيرات </button>
           </div>
          </div>
    
      </div>
  








