
<div class="layer"></div>
    <div class="box">
    <h3>تسجيل الدخول</h3>
    <div class="line1"></div>
    <div class="line2"></div>
    <input class="form-control input-box" type="text" placeholder="الاسم او الايميل" aria-label="default input example">
    <input class="form-control input-box" type="text" placeholder="كلمة السر" aria-label="default input example">
    <button type="button" class="btn btn-primary btn-me">تسجيل الدخول</button>
    <div class="d-flex group2"><a>إنشاء حساب</a><p>ليس لديك حساب ؟</p></div>
</div>



