
<div dir="rtl" class="row">
    <div class="col-md-6">
        <div class="gray"></div>
        <div class="details">
            <h6 class="reset-head">تفاصيل الحساب</h6>
            <div class="card">
                <div class="username">
                    <label class="labl">اسم المستخدم</label>
                    
                    <input class="form-input" type="text"  name="username" required  placeholder="abdo mohamed">
                </div>
                <div class="username">
                    <label class="labl"> الإيميل</label>
                  
                    <input class="form-input" type="text"  name="username" required  placeholder="abdomohamed@gmail.com">
                </div>
                <div class="username">
                    <label class="labl">رقم الهاتف </label>
                    
                    <input class="form-input" type="text"  name="username" required  placeholder="01065508768 ">
                </div>
                <div class="username">
                    <label class="labl">اسم الشركة</label>
                    
                    <input class="form-input" type="text"  name="username" required  placeholder="الهدى والتقوى">

                </div>

                <div class="changimg">
                    <a href=""><label class="labl2" for="">تغيير الصورة</label></a>
                    <i class="fas fa-camera-retro ico"></i>
                    <img class="immg" src="../../../assets/images/imggg.jpg" alt="" style="width: 35px;height: 35px;border-radius: 50%;">
                </div>
                <button type="button" class="btn btn-primary btn1" >حفظ البيانات </button>
             

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="info">
            <h6 class="reset-head"> معلومات عنك</h6>
            <div class="card1">
                <div class="infoline">
                    <label style="color: rgb(46, 46, 46);" for="">الاسم الكامل: <span style=" color: #9b9fa7;">عبدو محمد محمود</span></label>
                </div>
                <div class="infoline">
                    <label style="color: rgb(46, 46, 46);" for="">الحالة : <span style=" color: #9b9fa7;"> نشط </span></label>
                </div>
                <div class="infoline">
                    <label style="color: rgb(46, 46, 46);" for="">اسم الشركة: <span style=" color: #9b9fa7;">الهدى والتقوى </span></label>
                </div>
            </div>
        </div>
        <div class="info-comm mt-4">
            <h6 class="reset-head"> التواصل</h6>
            <div class="card2">
                <div class="infoline">
                    <label style="color: rgb(46, 46, 46);" for="">الهاتف : <span style=" color: #9b9fa7;">  01056607567</span></label>
                </div>
                <div class="infoline">
                    <label style="color: rgb(46, 46, 46);" for="">الإيميل : <span style=" color: #9b9fa7;"> user12@gmail.com </span></label>
                </div>
            </div>
        </div>
    </div>
</div>