<div dir="rtl" class="card">
    <h6 class="reset-head">الأذونات</h6>
    <div class="row px-3">
        <div class="col-md-4">
            <label class="label" for="">مركز التكلفة</label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                
              </div>
              <div class="form-check form-check-inline ">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input " type="checkbox" id="inlineCheckbox3" value="option3" checked>
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
              </div>   
        </div>
    </div>
    <div class="line"></div>
    <div class="row mt-3 px-3">
        <div class="col-md-4">
            <label class="label" for=""> العملات</label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"checked>
                
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"checked >
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
        </div>
    </div>
    <div class="line"></div>
    <div class="row mt-3 px-3">
        <div class="col-md-4">
            <label class="label" for="">المرافق </label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
        </div>
    </div>
    <div class="line"></div>
    <div class="row mt-3 px-3">
        <div class="col-md-4">
            <label class="label" for="">الحساب </label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"checked>
                
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
        </div>
    </div>
    <div class="line"></div>
    <div class="row mt-3 px-3">
        <div class="col-md-4">
            <label class="label" for="">المشاريع </label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"checked>
                
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"checked >
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
        </div>
    </div>
    <div class="line"></div>
    <div class="row mt-3 px-3">
        <div class="col-md-4">
            <label class="label" for="">المنتجات </label>
        </div>
        <div class="col-md-8">
            <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox1">تحديث</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox2">إنشاء</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">حذف</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">التفاصيل</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
              </div>  
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineCheckbox3">المعاينة</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
              </div>   
        </div>
    </div>
    <div class="line"></div>
    

    <div class="buttomm">
        <button type="button" class="btn btn-secondary btn2" >إلغاء</button>
        <button type="button" class="btn btn-primary btn1" >حفظ التعديلات </button>
    </div>
</div>
