<div dir="rtl" class="hom text-right mt-2">
    <h6 class="reset-head"> لوحة المراقبة </h6>
    <div class="row">
        <div class="col-md-3">
            <div  dir="rtl" class="part">
                <div class="ico">
                    <i class="fa-regular fa-file-lines ico"></i>
                </div>
                <span class="spn">إنشاء فاتورة</span>
            </div>
        </div>
        <div class="col-md-3">
            <div  dir="rtl" class="part">
                <div class="ico">
                    <i class="fa-solid fa-user ico"></i>
                </div>
                <span class="spn">إضافة عميل </span>
            </div>
        </div>
        <div class="col-md-3">
            <div  dir="rtl" class="part">
                <div class="ico">
                    <i class="fa-brands fa-shopify ico"></i>
                </div>
                <span class="spn">إدخال منتج</span>
            </div>
        </div>
        <div class="col-md-3">
            <div  dir="rtl" class="part">
                <div class="ico">
                    <i class="fa-solid fa-grip ico"></i>
                </div>
                <span class="spn">إنشاء عرض</span>
            </div>
        </div>
    </div>
    <div class="tabl mt-5">
        <app-table></app-table>
    </div>
    

</div>
